body {
  background-color: rgba(246, 245, 245, 0.3);
  background-image: url('images/logo2.png'); 
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 50%;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.header {
  height: 60px;
  width: 100%; 
  background-color: rgba(26, 61, 63, 0.9);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px; 
  position: sticky; 
  top: 0; 
  z-index: 1000;
}


#heading {
  font-size: 25px;
  color: black;
}

#cancel, #event {
  font-size: 18px;
  color: black;
  margin: 0 10px;
}

#can, #eve {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
}

a:hover {
  background: #6d9475;
  transition: 0.5s;
  opacity: 1;
}

form {
  padding: 20px;
}

input, textarea, select, button {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
  border-color: #6d9475;
  outline: none;
}

button {
  background-color: #6d9475;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5b7f64;
}

#eventList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


#eventList > div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#eventList > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#eventList img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#eventList strong {
  color: #6d9475;
  display: inline-block;
  margin-bottom: 5px;
}

#eventList div {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

#eventList a {
  display: inline-block;
  background: #6d9475;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

#eventList a:hover {
  background: #5b7f64;
}

#eventList button {
  margin-top: 10px;
}

#eventList > div:first-child:last-child {
  max-width: 300px; 
  margin: 0 auto; 
  padding: 10px;
}

.event-image {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-info {
  padding: 10px;
}


@media (max-width: 968px) {
  #eventList {
      grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}