body {
    background-color: rgb(234, 231, 227);
    color: black; /* Default text color */
    transition: background-color 0.3s, color 0.3s;
}

nav {
    height: 80px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgb(4, 50, 53);
}

.mainlogo1 {
    width: 55px;
    height: 55px;
    padding-top: 10px;
    padding-left: 10px;
}

label.logo {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0px 20px;
    font-weight: bold;
}

.regword {
    font-size: 64px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 50px;
}

.regnext {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 7px;
}

.separator {
    display: block;
    content: "";
    width: 450px;
    height: 2.5px;
    background-color: rgba(27, 2, 2, 0.7);
    margin: 0 auto 30px;
}

.banner {
    background-image: linear-gradient(to right, rgb(79, 140, 119), rgb(135, 143, 105));
    padding: 50px;
}

#eventList {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
}

/* Individual event card styling */
#eventList > div {
    width: 400px;
    height: 530px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }
  #eventList div:hover{
    transform: scale(1.0);
      box-shadow: 0 0 20px rgba(252, 163, 17, 0.8);
  }

.event-image {
    width: 100%;
  height: 300px; 
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
}

.event-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/* Event details styling */
#eventList strong {
    color: #6d9475;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
}

#eventList a {
    display: inline-block;
    background: #6d9475;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#eventList a:hover {
    background: #5b7f64;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

body.dark-mode nav {
    background-color: #2d2d2d;
}

body.dark-mode #eventList > div {
    background: #2d2d2d;
}


body.dark-mode #eventList strong {
    color: #8ab49d;
}

body.dark-mode #btn {
    background-color: #2d2d2d;
    color: white;
    border: 1px solid #8ab49d;
}

body.dark-mode label.logo {
    color: #ffffff;
}

@media (max-width: 968px) {
    #eventList {
        grid-template-columns: 1fr; 
    }
}